---
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres


emf:
  packagesToScan: com.example.javastatefulk8s.model


logging:
  level:
    ROOT: INFO
    com.example: TRACE
    openjpa: TRACE
    org.springframework.data: TRACE